{% extends 'storeapp/base.html' %}

{% block body_block %}
    <h2 class="text-center">Registration</h2>
    <hr class="navbar-dark">
    {% if confirm %}
        <h3>{{ confirm }}</h3>
        <a href = "{% url 'storeapp:login' %}">&lt;&lt;&lt;Click here to Login</a>
    {% else %}
        <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        </div>
    {% endif %}
{% endblock %}